<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
   integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
   crossorigin=""/>

   <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
 <!-- <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
   integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
   crossorigin=""></script> -->

<div *ngIf="aOI" class="row text-center">
    
    <div class="col-md-4">
        <h2><span jhiTranslate="afterearthApp.aOI.detail.title">AOI</span></h2>
        <h3>{{aOI.title}}</h3>
        <hr>
        <jhi-alert-error></jhi-alert-error>
        <dl class="row-md jh-entity-details">
            <dt><span jhiTranslate="afterearthApp.aOI.after">After
</span> <i class="fa fa-question-circle" title="Time representing before the event happened." aria-hidden="true"></i></dt>
            <dd>
                <span>{{aOI.after | date:'mediumDate'}}</span>
            </dd>
            <dt><span jhiTranslate="afterearthApp.aOI.until">Until</span> <i class="fa fa-question-circle" title="Time representing after the event happened." aria-hidden="true"></i></dt>
            <dd>
                <span>{{aOI.until | date:'mediumDate'}}</span>
            </dd>
            <dt><span jhiTranslate="afterearthApp.aOI.title">Title</span></dt>
            <dd>
                <span>{{aOI.title}}</span>
            </dd>
            <dt><span jhiTranslate="afterearthApp.aOI.lat">Lat</span> <i class="fa fa-question-circle" title="Latitude of the Area of Interest" aria-hidden="true"></i></dt>
            <dd>
                <span>{{aOI.lat}}</span>
            </dd>
            <dt><span jhiTranslate="afterearthApp.aOI.lng">Lng</span> <i class="fa fa-question-circle" title="Longitude of the Area of Interest." aria-hidden="true"></i></dt>
            <dd>
                <span>{{aOI.lng}}</span>
            </dd>
            <!-- <dt><span jhiTranslate="afterearthApp.aOI.user">User</span></dt>
            <dd>
                {{aOI.user?.login}}
            </dd> -->
        </dl>

        <button type="submit"
                (click)="previousState()"
                class="btn btn-info">
            <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
        </button>

        <button type="button"
                [routerLink]="['/', { outlets: { popup: 'aoi/'+ aOI.id + '/edit'} }]"
                replaceUrl="true"
                class="btn btn-primary">
            <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
        </button>

        <br>
        <br>



    </div>

        <div class="col-md-8">
                <ae-map-layers [aoi]="aOI"></ae-map-layers>
        </div>

</div>
