<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAOILabel" jhiTranslate="afterearthApp.aOI.home.createOrEditLabel">Create or edit a AOI</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!aOI.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="aOI.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterearthApp.aOI.after" for="field_after">After</label>
            <div class="input-group">
                <input id="field_after" type="text" class="form-control" name="after" ngbDatepicker  #afterDp="ngbDatepicker" [(ngModel)]="aOI.after"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="afterDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterearthApp.aOI.until" for="field_until">Until</label>
            <div class="input-group">
                <input id="field_until" type="text" class="form-control" name="until" ngbDatepicker  #untilDp="ngbDatepicker" [(ngModel)]="aOI.until"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="untilDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterearthApp.aOI.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="aOI.title"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterearthApp.aOI.lat" for="field_lat">Lat</label>
            <input type="text" class="form-control" name="lat" id="field_lat"
                [(ngModel)]="aOI.lat"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="afterearthApp.aOI.lng" for="field_lng">Lng</label>
            <input type="text" class="form-control" name="lng" id="field_lng"
                [(ngModel)]="aOI.lng"  />
        </div>

        <div class="form-group" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <label jhiTranslate="afterearthApp.aOI.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="aOI.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === aOI.user?.id ? aOI.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
