<div>
    <h2>
        <span jhiTranslate="afterearthApp.aOI.home.title">AOIS</span>
        <button class="btn btn-outline-success float-right jh-create-entity create-aoi" [routerLink]="['/', { outlets: { popup: ['aoi-new'] } }]">
            <span class="fa fa-plus"></span>
            <!-- <span  jhiTranslate="afterearthApp.aOI.home.createLabel"> -->
            <span >
                Observe Area
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="aOIS">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="after"><span jhiTranslate="afterearthApp.aOI.after">After</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="until"><span jhiTranslate="afterearthApp.aOI.until">Until</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="afterearthApp.aOI.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lat"><span jhiTranslate="afterearthApp.aOI.lat">Lat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lng"><span jhiTranslate="afterearthApp.aOI.lng">Lng</span> <span class="fa fa-sort"></span></th>
            <!-- <th jhiSortBy="user.login"><span jhiTranslate="afterearthApp.aOI.user">User</span> <span class="fa fa-sort"></span></th> -->
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let aOI of aOIS ;trackBy: trackId">
                <td><a [routerLink]="['../aoi', aOI.id ]">{{aOI.id}}</a></td>
                <td>{{aOI.after | date:'mediumDate'}}</td>
                <td>{{aOI.until | date:'mediumDate'}}</td>
                <td>{{aOI.title}}</td>
                <td>{{aOI.lat}}</td>
                <td>{{aOI.lng}}</td>
                <!-- <td>
                    {{aOI.user?.login}}
                </td> -->
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../aoi', aOI.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aoi/'+ aOI.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'aoi/'+ aOI.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
