/* minimap {
}

minimap > #map {

    height:450px;

}

.leaflet-container {
  height:600px;
} */
    /* #map { height:600px; } */

   .leaflet-draw-toolbar a {
        background-image: url('./images/spritesheet.svg');  
    } 

  #map-ui {
                background: rgb(112, 99, 99);
                
                position: absolute;
                z-index: 1000;
                border-radius: 3px;
                /* width: 150px; */
                right: 1px;
                margin: 5px;
                /* border: 1px solid rgba(0, 0, 0, 0.4); */
            }

#map-ui a {
                font-size: 13px;
                color: #404040;
                display: block;
                margin: 0;
                padding: 0;
                padding: 10px;
                text-decoration: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.25);
                text-align: center;
            }

            #map-ui a:first-child {
                border-radius: 3px 3px 0 0;
            }

            #map-ui a:last-child {
                border: none;
                border-radius: 0 0 3px 3px;
            }

            #map-ui a:hover {
                background: #27a150;
                color: #404040;
            }

            #map-ui a.active {
                background:#27a150 ;
                color: #FFF;
            }

            #map-ui a.active:hover {
                background: rgb(190, 56, 56);
            }

    #export, #import, #download {
        position: relative;
        z-index:100;
        background:skyblue;
        color:grey;
        padding:6px;
        border-radius:4px;
        font-family: 'Helvetica Neue';
        cursor: pointer;
        font-size:12px;
        text-decoration:none;
        margin-right: 10px;
    }

